*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", serif;
}
.header{
    background-image: url(../images/cc94b66af65878dfbc440c1d6e850b92.jpg);
    background-size: cover;
    background-position: center;
    overflow: auto;
    height: 100vh;
    position: relative;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
}
.nav{
    position: relative;
    z-index: 1;
}
.header-content{
    text-align: center;
    margin: 150px 0;
    color: whitesmoke;
    position: relative;
    z-index: 1;
}
.header-content h3{
    font-size: 30px;
}
.header-content h1{
    font-size: 55px;
    font-weight: bold;
    color: rgb(216, 43, 100);
}
.header-content p{
    font-size: 25px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.logo h3{
    font-size: 20px;
    color: rgb(216, 43, 100);
}
.links{
    color: white;
    float: right;
}
.logo{
    float: left;
}
.clear{
    clear: both;
}
.links ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.links ul li a.active{
    color: rgb(216, 43, 100);
}
.links ul li a{
    transition: all 0.5s;
    font-size: 18px;
}
.links ul li a:hover{
    color: rgb(216, 43, 100);
}
.links ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.links ul li{
    float: left;
    padding: 0 15px;
    margin-block: 15px;
}
/* section-about */
.about{
    width: 80%;
    margin: 100px auto;
    padding: 50px;
}
.about-contant{
    width: 60%;
    float: right;
}
.photo{
    width: 35%;
    float: left;
    position: relative;
    /* overflow: hidden; */
}
.photo::before{
    content: '';
    border: 8px solid #333;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: -1;
}
.photo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    transform: translateY(100%);
    transition: all 1s;
    /* overflow: hidden; */
}
.photo:hover::after{
    opacity: 1;
    transform: translate(0);
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.clear{
    clear: both;
}
.about-contant h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
.about-contant h2::before{
    content: '';
    width: 4px;
    height: 20px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: -10px;
    top: 4px;
}
.about-contant p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
    border-bottom: 1px dashed #555;
}
.about-contant .details div {
    float: left;
    margin-bottom: 20px;
}
.details div {
    width: 50%;
    color: #555;
}
.details span {
    font-weight: bold;
    color: #333;
}
.about .about-contant .buttons {
    margin-top: 20px;
}
.about .about-contant .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    transition: background 0.3s;
    margin-right: 10px;
}

.about .about-contant .buttons .download,
.about .about-contant .buttons .hire{
    background: #e91e63;
}
.about .about-contant .buttons .download:hover,
.about .about-contant .buttons .hire:hover {
    background: #d81b60;
}
/* section-services */
.services{
    background-color: #e4e2e2;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}
.services h1{
    color: rgb(216, 43, 100);
    font-size: 40px;
}
.services .divider{
    width: 12%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: relative;
    left: 44%;
}
.services .divider::before{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: -8px;
}
.services .divider::after{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: 8px;
}
.services .services-item{
    width: 24%;
    margin: 0 0.5%;
    padding: 20px;
    margin-block: 70px;
    float: left;
}
.services .services-item:hover{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 4px;
    transition: all 1s;
}
.services .services-item i{
    color: rgb(216, 43, 100);
    font-size: 25px;
    transition: all 1s;
}
.services .services-item:hover i{
    transform: scale(1.5,1.5);
}
.services .services-item h3{
    color: #333;
}
.services .services-item p{
    color: #555;
}
/* section-portfolio */
.portfolio{
    padding: 50px 20px;
    text-align: center;
}
.portfolio h1{
    font-size: 40px;
}
.portfolio .divider{
    width: 12%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: relative;
    left: 44%;
}
.portfolio .divider::before{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: -8px;
}
.portfolio .divider::after{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: 8px;
}
.portfolio .portfolio-menu{
    position: relative;
    top: 50px;
    margin-bottom: 80px;
}
.portfolio .portfolio-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin: 0 15px;
    font-weight: bold;
    position: relative;
}
.portfolio .portfolio-menu a.active {
    color: #ff497c;
}
.portfolio .card{
    width: 31.2%;
    float: left;
    margin: 1%;
}
.portfolio .card img{
    width: 100%;
}
/* section-stats */
.stats{
    background-color: #e4e2e2;
    padding: 50px 20px;
    text-align: center;
}
.stats .stats-item{
    float: left;
    width: 24%;
    margin: 0 0.5%;
}
.stats .stats-item i{
    font-size: 25px;
    color: rgb(216, 43, 100);
}
.stats .stats-item h3{
    font-weight: bold;
    font-size: 25px;
}
.stats .stats-item p{
    color: #555;
}
/* section-feedback */
.feedback{
    margin: 0px auto;
    padding: 20px;
    /* text-align: center; */
}
.feedback h1{
    text-align: center;
    color: rgb(216, 43, 100);
    font-size: 40px;
}
.feedback .divider{
    width: 12%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: relative;
    left: 44%;
}
.feedback .divider::before{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: -8px;
}
.feedback .divider::after{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: 8px;
}
.feedback .feedback-item{
    width: 60%;
    position: relative;
    left: 20%;
    background-color: #e4e2e2;
    padding: 20px;
    margin-block: 70px;
    overflow: hidden;
}
.feedback .feedback-item::before{
    content: "";
    position: absolute;
    top: -90px;
    left: -47px;
    background-color: rgb(216, 43, 100);
    width: 150px;
    height: 250px;
    transform: rotate(45deg);
}
.feedback .feedback-item img{
    width: 15%;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    position: absolute;
    z-index: 1;
}
.feedback .feedback-item .feedback-contant{
    width: 80%;
    float: right;
}
.feedback .feedback-item .feedback-contant span i,
.feedback .feedback-item .feedback-contant span{
    color: #555;
} 
.feedback .feedback-item .feedback-contant p{
    color: #555;
    font-style: italic;
}
.feedback .feedback-item .feedback-contant i{
    color: orange;
}
/* section-blog */
.blog{
    margin: 0px auto;
    padding: 20px;
    background-color: #e4e2e2;
}
.blog h1{
    font-size: 40px;
    text-align: center;
}
.blog .divider{
    width: 12%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: relative;
    left: 44%;
}
.blog .divider::before{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: -8px;
}
.blog .divider::after{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: 8px;
}
.blog .blog-item{
    margin-block: 70px;
    width: 31%;
    float: left;
    margin-inline: 1%;
    background-color: whitesmoke;
    overflow: hidden;
}
.blog .blog-item img,
.blog .blog-item iframe{
    width: 100%;
}
.blog .blog-item .blog-contant{
    padding: 20px;
}
.blog .blog-item .blog-contant span,
.blog .blog-item .blog-contant p{
    color: #555;
}
.blog .blog-item .blog-contant h2{
    color: #333;
}
.blog .blog-item .blog-contant .buttons a{
    text-decoration: none;
    color: #333;
}
.blog .blog-item .blog-contant .buttons a:hover{
    color: rgb(216, 43, 100);
}
/* section-contact */
.contact-us{
    margin: 0px auto;
    padding: 20px;
}
.contact-us h1{
    font-size: 40px;
    text-align: center;
}
.contact-us .divider{
    width: 12%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: relative;
    left: 44%;
}
.contact-us .divider::before{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: -8px;
}
.contact-us .divider::after{
    content: '';
    width: 45%;
    height: 1px;
    background-color: rgb(216, 43, 100);
    position: absolute;
    left: 30%;
    top: 8px;
}
.contact-us .contact-form{
    width: 70%;
    position: relative;
    left: 15%;
    /* background-color: #e4e2e2; */
    padding: 20px;
    margin-block: 70px;
    overflow: hidden;
}
input[type=text],input[type=email] {
    width: 49.5%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input.sub{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    background-color: rgb(216, 43, 100);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #d81b60;
}
/* section-footer */
.footer{
    background-color: #333;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}
.footer .footer-item i{
    margin: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.footer .footer-item i:hover{
    color: #d81b60;
    transition: all 1s;
}
.footer .footer-item p{
    color: white;
}
.footer .footer-item a{
    text-decoration: none;
    color: #d81b60;
    cursor: pointer;
}